@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Sintony&family=Tomorrow&display=swap');
*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding-top: 60px;
    padding-bottom: 30px;
}

.container1 {
    width: 1280px;
    margin: 0 auto;
}
.brand-logo {
    font-family: Roboto;
    font-size: 80px;
    font-weight: 400;
    line-height: 94px;
    letter-spacing: 0px;
    text-align: center;
    
    font-family: MyriadPro;
    font-size: 80px;
    line-height: 94px;
    letter-spacing: 0px;
    text-align: center;
    text-decoration: none;
    
}
.brand-item1 {
    color: #000000;
}
.brand-item2 {
    color: #4BCAFF;
}
nav {
    margin-top: 40px;
    background-color: #35444F;
}
.navigation-menu {
    display: flex;
    justify-content: center;
    border-left: 1px solid #FFFFFF;
}
.menu-item {
    display: flex;
    align-items: center;
    min-height: 70px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;
    border-right: 1px solid #FFFFFF;    
}
.menu-item:hover {
    background-color: #222F3A;
}
.menu-functional-programming {
    border-left: 1px solid #FFFFFF;
}
main{
    margin-top: 50px;
}
.container2 {
    display: flex;
    gap: 50px;
    width: 1280px;
    margin: 0 auto;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;

    min-width: 344px;
    min-height: 400px;
    border: 1px solid #000;

}
.sidebar-item {
    display: flex;
    padding-left: 45px;
    align-items: center;
    font-family: Roboto;
font-size: 27px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0px;
text-align: left;
color: #495863;
min-height: 80px;
}
.sidebar-item:hover {
    background: #dbdbdb;
    padding-left: 70px;
}
.content-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    min-width: 885px;
min-height: 832px;
}
.content-image {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    min-width: 885px;
    min-height: 529px;
}
.image-ramda{
    width: 320px;
height: 381px;
}
.content-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: Roboto;
font-weight: 400;
font-size: 18px;
line-height: 133%;
color: #2c2c2c;
}
footer{
    margin-top: 50px;
}
.container3 {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;

    justify-content: space-between;
    padding: 0 40px;
    background: #63696E7A;
    min-height: 70px;
}
.footer-menu {
    display: flex;
    gap: 20px;
    font-family: Roboto;
font-weight: 400;
font-size: 28px;
line-height: 100%;
color: #0c1927;

}
.footer-item {
}
.copyright {
    font-family: Roboto;
font-weight: 400;
font-size: 24px;
line-height: 100%;
color: #010101;
}